.layer {
  position: absolute;
top: 0;
left: 0;
right: 0;
  bottom: 0;
background-color: rgba(0,0,0,0.7);

  .popup {
    padding: 0.7rem 1.5rem;
    position: absolute;
    font-size: 12px;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
}