@import "../../styles/varaibles.scss";

.sign-up-page {
  color: white;
  background-color: $main-color;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  .sign-up {
    position: relative;
    width: 90%;
    max-width: 300px;
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sign-in-instead {
      text-align: end;
      cursor: pointer;
      &:visited {
        color: white;
      }
    }

    .loader {
      background-color: white;
      height: 39px;
      border-radius: 5px;
      color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
