.user-details {
  .detail {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}