// $main-color: #AFC759;
$main-color: #98ad4c;
$secondary-color: #00b3ff;
$thirdly-color: #ff6b65;

$dark-main-color: #828d57;
$background-color: #eaeaea;
$text-color: #555555;
$light-text-color: #aaa;
$border-color: #d9d5ec;
