@import "../../styles/varaibles.scss";

.new-station {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .cordinates {
    display: flex;
    gap: 0.5rem;
  }

  .buttons {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
  }
}