@import "../../styles/varaibles.scss";

.options-nav {

  .option {
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;


    &:hover {
      border-bottom: 2px solid #bbb;
    } 
  }

  .active {
    border-bottom: 2px solid #777;
    &:hover {
      border-bottom: 2px solid #777;
    }
  }
}