.charge-point-details {
  .detail {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 1rem;
    // padding: 1rem;
    // gap: 2rem;
    display: flex;
    flex-direction: column;
  }
}
